{% extends "base.html" %}
{% block content %}
    <h3 class="mb-4">Forgot Password</h3>
    <form method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Send Reset Email</button>
        <button type="button" id="cancel_btn" class="btn btn-primary mt-3">Cancel</button>
    </form>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        $("#cancel_btn").click(function() {
            location.href = "{{ url_for('index') }}";
        });
    });
</script>
{% endblock %}

