{%  extends "base.html" %}
{% block head %}
<style>
    table.gameboard td {
        width: 70px;
        height: 70px;
        border: 1px solid;
        background-color: #2b2f32;
        text-align: center;
        font-size: xxx-large;
        font-weight: bold;
    }
    table.keyboard td {
        width: 30px;
        height: 60px;
        border: 1px solid;
        background-color: #2b2f32;
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
    <div class="mb-3 text-center" id="board">
        <p class="mb-3"><button type="button" class="bth btn-primary" id="home_btn">Home</button></p>
        <table class="gameboard" align="center">
            <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>
            <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>
            <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>
            <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>
            <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>
            <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>
        </table>
    </div>
    <div class="mb-3 text-center" id="msgarea">&nbsp;</div>
    <div class="mb-3" id="keyboard">
        <table class="keyboard" align="center">
            <tr>
                <td colspan="2">Q</td>
                <td colspan="2">W</td>
                <td colspan="2">E</td>
                <td colspan="2">R</td>
                <td colspan="2">T</td>
                <td colspan="2">Y</td>
                <td colspan="2">U</td>
                <td colspan="2">I</td>
                <td colspan="2">O</td>
                <td colspan="2">P</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">A</td>
                <td colspan="2">S</td>
                <td colspan="2">D</td>
                <td colspan="2">F</td>
                <td colspan="2">G</td>
                <td colspan="2">H</td>
                <td colspan="2">J</td>
                <td colspan="2">K</td>
                <td colspan="2">L</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
                        <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                        <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                    </svg>
                </td>
                <td colspan="2">Z</td>
                <td colspan="2">X</td>
                <td colspan="2">C</td>
                <td colspan="2">V</td>
                <td colspan="2">B</td>
                <td colspan="2">N</td>
                <td colspan="2">M</td>
                <td colspan="3">Enter</td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block script %}
<script>
    var input_row = 0;
    var input_col = 0;
    var game_status = null;

    function display_game(data) {
            game_status = data.status;
            input_row = data.rows.length + 1;
            input_col = 1;
            paint_gameboard(data.rows);
            paint_keyboard(data.keyboard);
            if (game_status != 'playing') {
                let msg = (game_status == 'win' ? 'Great Job!' : 'Better luck next time.')
                $("#msgarea").html(msg + '<br>The word was <a href="https://www.dictionary.com/browse/' +
                    data.word_was + '" target="_blank">' + data.word_was + '</a></p>');
            }
        }

    function paint_gameboard(rows) {
        $.each(rows, function (r, row) {
            let tr = $("table.gameboard tr:nth-child(" + (r + 1) + ")");
            $.each(row.word.split(''), function (i, letter) {
                let td = tr.find("td:nth-child(" + (i + 1) + ")");
                td.text(letter)
                td.css('background-color', row.colors[i])
            });
        });


    }

    function paint_keyboard(keyboard) {
        $("table.keyboard td").each(function (index) {
            let letter = $(this).text();
            if ($.inArray(letter, keyboard.green) > -1) {
                $(this).css('background-color', 'green');
            } else if ($.inArray(letter, keyboard.orange) > -1) {
                $(this).css('background-color', 'orange');
            } else if ($.inArray(letter, keyboard.black) > -1) {
                $(this).css('background-color', 'black');
            } else {
                $(this).css('background-color', '#2b2f32');
            }
        });
    }

    function set_input_cell(letter) {
        if (input_row > 6 || input_row < 1 || input_col > 5 || input_col < 1)
            return;  // input out of bounds
        $("table.gameboard tr:nth-child(" + input_row + ") td:nth-child(" + input_col + ")").text(letter);
    }

    $(document).ready(function () {
        // get the initial state of the game
        $.getJSON("{{ url_for('game_state') }}", display_game);

        $("table.keyboard td").click(function () {
            if (game_status != 'playing')
                return; // ignore input when game is over

            let key = $(this).text();

            if (key != '') {  // ignore the end cells on the middle row
                let orig_bg_color = $(this).css("background-color");
                $(this).css("background-color", "LightGrey");
                setTimeout(() => {
                    $(this).css("background-color", orig_bg_color);
                }, 100);
                if (key.startsWith('\n') && input_col > 1) {  // backspace
                    input_col--;
                    set_input_cell(' ');
                    $("#msgarea").html('&nbsp;');
                } else if (key == 'Enter') {
                    if (input_col < 6) {
                        $("#msgarea").text('All words are 5 letters');
                    } else {
                        let word = '';
                        $("table.gameboard tr:nth-child(" + input_row + ") td").each(function (index) {
                            word += $(this).text();
                        });
                        $.getJSON("{{ url_for('submit_word') }}?word=" + word, display_game);
                    }
                } else if (input_col < 6) {  // must be a letter
                    set_input_cell(key);
                    input_col++;
                    $("#msgarea").html('&nbsp;');
                }
            }
        });

        $("#home_btn").click(function () {
            location.href = "{{ url_for('index') }}"
        });
    });
</script>
{% endblock %}