{%  extends "base.html" %}
{% block head %}
    <style>
        #scoreboard th {
            border: 1px solid white;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 30px;
        }
         #scoreboard td {
            padding: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 30px;
         }
    </style>
{% endblock %}
{% block content %}
    <h3 class="text-center my-5">
        Welcome <a href="{{ url_for('profile') }}">{{ user.name }}</a>
        <a href="{{ url_for('logout') }}" class="btn btn-primary btn-sm">Log Out</a>
    </h3>
    <div class="my-5 text-center">
    {% if not last_play or last_play.date < current_game.date %}
        <p><a href="{{ url_for('game') }}" class="btn btn-primary">Start Today's Game</a></p>
    {% elif last_play.status == 'playing' %}
        <p><a href="{{ url_for('game') }}" class="btn btn-primary">Continue Today's Game</a></p>
    {% else %}
        <p>You have completed today's game</p>
        <p><a href="{{ url_for('game') }}" class="btn btn-primary">View Today's Game</a></p>
    {% endif %}
    </div>
    {% if scoreboard %}
    <hr class="my-4">
    <h3 class="my-3 text-center">Scoreboard</h3>
    <p class="text-center">
        <table align="center" id="scoreboard">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Today</th>
                    <th>Yesterday</th>
                    <th align="center">Average Tries</th>
                    <th align="center">Average Wins</th>
                </tr>
            </thead>
            <tbody>
                {% for stats in scoreboard %}
                <tr>
                    <td>{{ stats.player }}</td>
                    {% if stats.today and stats.yesterday %}
                        <td>{{ stats.today }}</td>
                        <td>{{ stats.yesterday }}</td>
                    {% else %}
                        <td colspan="2">{{ stats.last_played|default('&nbsp;') }}</td>
                    {% endif %}
                    <td align="center">{{ stats.avg_attempts|default('&nbsp;') }}</td>
                    <td align="center">{{ stats.avg_wins|default('&nbsp;') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
    {% endif %}
{% endblock %}
