{%  extends "base.html" %}
{% block content %}
    <h3>
        Welcome <a href="{{ url_for('profile') }}">{{ user.name }}</a>
        &nbsp;<button id="logout-btn" class="btn btn-primary btn-sm">Logout</button>
    </h3>
    <div class="my-3">
    {% if user.last_play < game.game_date %}
        <p><button id="play_game_btn" class="btn btn-primary">Start Today's Game</button></p>
    {% elif user.last_play == game.game_date %}
        <p><button id="play_game_btn" class="btn btn-primary">Continue Today's Game</button></p>
    {% else %}
        <p>You have completed today's game</p>
        <p><button id="play_game_btn" class="btn btn-primary">View Today's Game</button></p>
    {% endif %}
    </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        $("#play_game_btn").click(function() {
            location.href = "{{ url_for('game') }}";
        });
        $("#logout-btn").click(function() {
           location.href =  "{{ url_for('logout') }}"
        });
    });
</script>
{% endblock %}