{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="page-header mb-5 text-center">
            <h2>Wyverness Family</h2>
            <h1>Word Game</h1>
        </div>
        <h3 class="mb-4">Log In</h3>
        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
{#            <div class="mb-3 form-check">#}
{#                <input type="checkbox" class="form-check-input" name="remember">#}
{#                <label class="form-check-label" for="remember">Remember me</label>#}
{#            </div>#}
            <button type="submit" class="btn btn-primary mt-3">Log In</button>
        </form>
        <div class="text-end">
            <a class="px-3" href="{{ url_for('forgot_password') }}">Forgot Password</a>
            <a class="px-3" href="{{ url_for('signup') }}">Sign Up</a>
        </div>
    </div>
{% endblock %}

