{% extends "base.html" %}
{% block content %}
    <h3 class="mb-4">Reset Password</h3>
    <form method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="mb-3">
            <label for="confirm" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirm">
        </div>
        <input type="hidden" name="resetcode" value="{{ reset_code }}">
        <button type="submit" class="btn btn-primary mt-3">Change Password</button>
        <button id="cancel_btn" class="btn btn-primary mt-3">Cancel</button>
    </form>
    <div class="text-end">
        <a class="px-3" href="{{ url_for('forgot_password') }}">Forgot Password</a>
        <a class="px-3" href="{{ url_for('login') }}">Log In</a>
    </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        $("#cancel_btn").click(function() {
            location.href = "{{ url_for('index') }}";
        });
    });
</script>
{% endblock %}
