{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="page-header mb-5 text-center">
            <h2>Wyverness Family</h2>
            <h1>Word Game</h1>
        </div>
        <h3 class="mb-4">Sign Up</h3>
        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3">
                <label for="confirm" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="confirm">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
        </form>
    </div>
{% endblock %}

